html, body {
  height: 100%;
  margin: 0;
}

#map{
  height: 100%;
  margin: 0;
}


/*select name, salary from professor 
where not department_id = (select id from department where name = "Arts and Humanities")
and salary > (select min(salary) from professor 
				where department_id = (select id from department where name = "Arts and Humanities")) 
*/


